*.pyc
.DS_Store
django_taggit.egg-info/
dist/
_build/
MyProject.kpf
.tox/

.idea/.name

.idea/django-taggit.iml

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
